<div>
    <h3 class="text-center">Status Views</h3>
    <ul class="list-unstyled text-center">
        <li>
            <a href="#/">CANCEL</a>
        </li>
    </ul>

    <form role="form" ng-submit="statusForMe()" ng-init="isMeSimpleView = true">
        <fieldset>
            <legend>
                I am
                <span class="small">
                    <a class="clickable" ng-click="isMeSimpleView = false" ng-show="isMeSimpleView">Advanced</a>
                    <a class="clickable" ng-click="isMeSimpleView = true" ng-hide="isMeSimpleView">Simple</a>
                </span>
            </legend>
        </fieldset>
        <div class="form-group">
            <input type="email" class="form-control" ng-model="me.email" ng-change="flag.hasQueried = false" placeholder="Email address" />
        </div>
        <div class="form-group" ng-hide="isMeSimpleView">
            <input type="text" class="form-control" ng-model="me.name" placeholder="Full name" />
        </div>
        <div class="form-group" ng-hide="isMeSimpleView">
            <input type="text" class="form-control" ng-model="me.profileUrl" placeholder="Public Profile URL (Facebook, Google+, etc.)" />
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-lg btn-primary btn-block" ng-disabled="!me.email">
                View status for me
            </button>
        </div>
    </form>

    <div ng-show="flag.hasQueried">
        <div class="text-center" ng-show="flag.isLoadingMyActivities">Loading activities initiated by me, please wait...</div>
        <div class="text-center" ng-show="!flag.isLoadingMyActivities && !myActivities.length">I haven't initiated any activities. Perhaps <a href="#/new">create one</a> ?</div>



        <div class="text-center" ng-show="flag.isLoadingMyAppliedForActivities">Loading activities to which I applied, please wait...</div>
        <div class="text-center" ng-show="!flag.isLoadingMyAppliedForActivities && !myAppliedActivities.length">I haven't applied for any activity. Perhaps <a href="#/join">join one now</a> ?</div>
    </div>

</div>