<div>
    <h3 class="text-center">Status Views</h3>
    <ul class="list-unstyled text-center">
        <li>
            <a href="#/">CANCEL</a>
        </li>
    </ul>

    <form role="form" ng-submit="statusForMe()" ng-init="isMeSimpleView = true">
        <fieldset>
            <legend>
                I am
                <span class="small">
                    <a class="clickable" ng-click="isMeSimpleView = false" ng-show="isMeSimpleView">Advanced</a>
                    <a class="clickable" ng-click="isMeSimpleView = true" ng-hide="isMeSimpleView">Simple</a>
                </span>
            </legend>
        </fieldset>
        <div class="form-group">
            <input type="email" class="form-control" ng-model="me.email" ng-change="flag.hasQueried = false" placeholder="Email address" />
        </div>
        <div class="form-group" ng-hide="isMeSimpleView">
            <input type="text" class="form-control" ng-model="me.name" placeholder="Full name" />
        </div>
        <div class="form-group" ng-hide="isMeSimpleView">
            <input type="text" class="form-control" ng-model="me.profileUrl" placeholder="Public Profile URL (Facebook, Google+, etc.)" />
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-lg btn-primary btn-block" ng-disabled="!me.email">
                View status for me
            </button>
        </div>
    </form>

    <div class="text-center" ng-show="flag.isLoadingMyActivities">Loading activities initiated by me, please wait...</div>
    <div class="text-center" ng-show="flag.isLoadingMyAppliedForActivities">Loading activities to which I applied, please wait...</div>

    <div ng-show="flag.hasQueried">
        <div class="text-center" ng-show="!flag.isLoadingMyActivities && !myActivities.length">I haven't initiated any activities. Perhaps <a href="#/new">create one</a> ?</div>
        <table class="table table-striped" ng-hide="flag.isLoadingMyActivities || !myActivities.length">
            <caption><h4><strong>Activities initiated by me</strong></h4></caption>
            <thead>
                <tr>
                    <th>#</th>
                    <th>Activity</th>
                    <th>When?</th>
                    <th>Where?</th>
                    <th>With?</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="entry in myActivities | orderBy:'startsOn'">
                    <td>{{$index + 1}}</td>
                    <td>{{entry.activity.title}}</td>
                    <td>{{entry.activity.startsOnFormatted()}}</td>
                    <td>{{entry.activity.place.name || 'Not specified'}}</td>
                    <td ng-init="isParticipantsDetailed = false">
                        <em ng-hide="entry.activity.pendingMembers.length">Nobody joined so far</em>
                        <a class="clickable" ng-show="entry.activity.pendingMembers.length" ng-click="isParticipantsDetailed = !isParticipantsDetailed">
                            {{entry.activity.pendingMembers.length + ' willing to join me'}}
                        </a>
                        <ul class="list-unstyled" ng-show="isParticipantsDetailed">
                            <li ng-repeat="dude in entry.activity.pendingMembers | orderBy:['name','email'] track by dude.email">
                                {{dude.name || dude.email}}
                                &nbsp;|&nbsp;
                                <a class="clickable" ng-hide="entry.activity.isParticipantConfirmed(dude)" ng-click="confirmParticipant(entry, dude)"><small>Accept</small></a>
                                <em ng-show="entry.activity.isParticipantConfirmed(dude)">Confirmed</em>
                            </li>
                        </ul>
                    </td>
                    <td>
                        <em ng-show="entry.activity.isCancelled"><strong>Canceled</strong> because: <small>{{entry.activity.cancellationReason}}</small></em>
                        <div ng-hide="entry.activity.isCancelled || isCancelling" ng-init="isCancelling = false">
                            <div ng-show="entry.activity.isWrapped">
                                <em><strong>It's a Wrap !</strong></em>
                                &nbsp;|&nbsp;
                                <a class="clickable" ng-click="isCancelling = true">Cancel</a>
                            </div>
                            <div ng-hide="entry.activity.isWrapped">
                                <a class="clickable" ng-click="wrapIt(entry)">Wrap it!</a>
                                &nbsp;|&nbsp;
                                <a class="clickable" ng-click="isCancelling = true">Cancel</a>
                            </div>
                        </div>
                        <div ng-show="isCancelling" ng-init="reason = null">
                            <form role="form" ng-submit="cancel(entry, reason); isCancelling = false;">
                                <div class="form-group form-group-sm">
                                    <input type="text" class="form-control input-sm" ng-model="reason" placeholder="Cancellation reason" />
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-sm btn-primary pull-right" ng-disabled="!reason">
                                        Ok, cancel!
                                    </button>
                                    <button type="button" class="btn btn-sm btn-link btn-warning pull-right" ng-click="isCancelling = false">
                                        Oh, never mind
                                    </button>
                                </div>
                            </form>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>


        <div class="text-center" ng-show="!flag.isLoadingMyAppliedForActivities && !myAppliedActivities.length">I haven't applied for any activity. Perhaps <a href="#/join">join one now</a> ?</div>
        <table class="table table-striped" ng-hide="flag.isLoadingMyAppliedForActivities || !myAppliedActivities.length">
            <caption><h4><strong>Activities to which I applied</strong></h4></caption>
            <thead>
                <tr>
                    <th>#</th>
                    <th>Activity</th>
                    <th>By</th>
                    <th>When?</th>
                    <th>Where?</th>
                    <th>With?</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="entry in myAppliedActivities | orderBy:'startsOn'">
                    <td>{{$index + 1}}</td>
                    <td>{{entry.activity.title}}</td>
                    <td>{{entry.activity.initiator.name || entry.activity.initiator.email}}</td>
                    <td>{{entry.activity.startsOnFormatted()}}</td>
                    <td>{{entry.activity.place.name || 'Not specified'}}</td>
                    <td ng-init="isParticipantsDetailed = false">
                        <a class="clickable" ng-click="isParticipantsDetailed = !isParticipantsDetailed">
                            {{entry.activity.allParticipants().length + ' willing to go'}}
                        </a>
                        <ul class="list-unstyled" ng-show="isParticipantsDetailed">
                            <li ng-repeat="dude in entry.activity.allParticipants() | orderBy:['name','email'] track by dude.email">
                                {{dude.name || dude.email}}
                                <em class="small" ng-show="dude == entry.activity.initiator"><strong>Initiator</strong></em>
                            </li>
                        </ul>
                    </td>
                    <td>
                        Actions go here
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>